@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
        /* Inicialmente, mueve la carta hacia abajo */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* La carta vuelve a su posición original */
    }
}

.card-enter {
    animation: fadeIn 0.5s ease-in-out;
    /* Aplica la animación fadeIn */
}